ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
  }
  .body{
    z-index: 100;
  }
  .inline{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .inCol{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }